@charset "utf-8";
/*
 * foundation/grid.scss
 */
.l-main {
  width: 1040px;
  margin: 0 auto 40px;
  transition: all .25s;
}
.l-main--side {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6em;
  .l-grid {
    grid-column-end: span 3;
  }
  .l-side {
    grid-column-end: span 1;
  }
}
@media screen and  (max-width: 1040px) {
  .l-main {
    width: 100%;
    padding: 0 4.4rem;
  }
}
@media screen and  (max-width: 600px) {
  .l-main--side {
    display: block;
  }
}
@media screen and  (max-width: 360px) {
  .l-main {
    padding: 0 1.2rem;
  }
}

.l-side {
  height: 100%;
  min-height: 7.2rem;
  background-color: #999;
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6em;
  margin-bottom: 40px;
  @media screen and  (max-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.l-col {
  grid-column-end: span 2;
  position: relative;
  min-height: 7.2rem;
  background-color: #fff;
  border-radius: 8px;
}
.l-col-span-1,
.l-col-span-2,
.l-col-span-3,
.l-col-span-4 {
  width: auto;;
}
.l-col-span-1 {
  grid-column-end: span 1;
}
.l-col-span-2 {
  grid-column-end: span 2;
}
.l-col-span-3 {
  grid-column-end: span 3;
}
.l-col-span-4 {
  grid-column-end: span 4;
}